body {
    font-size: 10px;
}

.main-content {
    padding: 12px;
    padding-bottom: 0;
}

.footer-content {
    padding: 12px;
    background-color: #f7f7f7;
    box-shadow: 1px -2px 10px #0000001c;
    border-top: 1px solid #ffffff;
    text-align: center;
    font-style: italic;
}

.num-detections {
    font-weight: bold;
}

.apps-table-container {
    max-height: 300px;
    overflow-y: auto;
    min-width: 400px;
    width: 100%;
}

.table-apps {
    margin-bottom: 0;
}

.app-links > a {
    display: block;
}

.app-links > a:not(:last-child) {
    margin-bottom: 4px;
}

.app-name {
    font-weight: bold;
}
.support-statement {
    margin: 0 12px;
    text-align: center;
}

.footer-content:hover .support-statement {
    opacity: 1;
}

.summary-statement {
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 8px;
}

.emphasize {
    font-weight: bold;
}

.rating-stars a {
    color: gold;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 4px;
    display: inline;
}
.rating-stars a:hover {
    text-decoration: none;
}

.rating-stars a .on {
    display: none;
}

.rating-stars a.active .on,
.rating-stars a:hover .on {
    display: inline;
}

.rating-stars a.active .off,
.rating-stars a:hover .off {
    display: none;
}

.rate-statement {
    margin-top: 12px;
    border-top: 1px solid #0000000f;
    padding-top: 12px;
    vertical-align: middle;
    line-height: 100%;
    background-color: white;
    padding-bottom: 12px;
}

.rate-statement p {
    margin-bottom: 4px;
}

.rate-statement .caption {
    vertical-align: top;
    margin-right: 10px;
}
