body {
    font-size: 10px;
}

.main-content {
    padding: 12px;
    padding-bottom: 0;
}

.footer-content {
    padding: 12px;
    background-color: #f7f7f7;
    box-shadow: 1px -2px 10px #0000001c;
    border-top: 1px solid #ffffff;
    text-align: center;
    font-style: italic;
}

.num-detections {
    font-weight: bold;
}

.apps-table-container {
    max-height: 300px;
    overflow: scroll;
    min-width: 400px;
}

.app-links > a {
    display: block;
}

.app-links > a:not(:last-child) {
    margin-bottom: 4px;
}

.app-name {
    font-weight: bold;
}
.support-statement {
    margin: 0 12px;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}

.footer-content:hover .support-statement {
    opacity: 1;
}
